.Login{
    background: url("../image/登录1.jpg") no-repeat;
    background-size: cover;

    display:inline-block;
    width: 100%;
height: 100%;
    /*padding: 100px;*/
}
.logo1{
    size: auto;
    float: left;
}
.avator1{
    background-image: url("../image/头像.png");
}
