.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    width: 80%;
    background: #305a56;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
    font-size: 26px;

}


.zhenjing{
    background-image: url("../image/首页3.jpg");
}
.zhenjing2{
    background-image: url("../image/首页2.jpg");
}
.zhenjing3{
    background: url("../image/首页4.jpg");
    background-color: rgba(255,255,255,0.5);

}
